@{
	var copyYear = System.DateTime.Now.Year == 2020 ? "2020" : ("2020-" + System.DateTime.Now.Year);
}
Copyright &copy; @copyYear <a href="https://github.com/AdmiringWorm" target="_blank">Kim J. Nordmo</a>
